p {
  text-align: left !important;
}

.MainBanner-container{
  width: 100%;
  min-height: 800px;
  height: calc(100vh - 70px);
  background-color: #EEEEEE;
  padding-top: 120px;
  padding-left: calc(20vw - 20px);
}
@media only screen and (max-width: 768px) {
  .MainBanner-container{
    padding-top: 50px;
    height: 100vh;
  }
}

.MainBanner-subheader{
  white-space: nowrap;
  font-weight: bold;
  font-size: 32px;
  color: #362967;
}

.MainBanner-container h1{
  white-space: nowrap;
  font-weight: bold;
  font-size: calc(40px + 1.2vw);
  margin-top: 20px;
  color: #362967;
}

.MainBanner-container p{
  font-weight: 400;
  font-size: 24px;
  color: #362967;
  margin-top: 40px;
}

.MainBanner-actionbutton{
  margin-top: 70px;
  background-color: #FF7B23;
  outline: none;
  border: none;
  font-weight: bold;;
  font-size: calc(12px + 0.5vw);
  border-radius: none;
  width: calc(200px + 15vw);
  line-height: 40px  !important;
  height: 60px;
}

.MainBanner-pitaxlogo{
  margin-top: 50px;
}
@media only screen and (min-width: 768px) {
  .MainBanner-pitaxlogo{
    margin-top: 120px;
  }
}

.MainBanner-subtextlogo{
  margin-bottom: 20px;
  font-weight: 400;
  color: #362967;
}

.MainBanner-splash{
  margin-top: -120px !important;
  background-image: url('../images/banner-splash.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media only screen and (max-width: 768px) {
  .MainBanner-splash{
    display: none;
  }
}

.MainBanner-actionbutton:hover, 
.MainBanner-actionbutton:active, 
.MainBanner-actionbutton:focus{
  background-color: #ff9854 !important;
  outline: none !important;
  box-shadow: none !important;
}