Navbar{
  background-color: white;
  padding: 5px calc(5px + 1vw);
  vertical-align: middle;
  z-index: 99999;
}
.NavbarToggle{
  outline: none;
  border: none;
  transition: 0.2s;
  padding: 10px;
}
.NavbarToggle:hover{
  background: #FF7B23;
}
.NavbarCollapse{
  position: absolute;
  right: 20px;
  top: 70px;
  width: 200px;
  border-radius: 10px;
  background-color: #362967;
}
.NavLink{
  border-radius: 10px;
  color: white !important;
  text-align: center;
  padding: 15px;
}
.NavLink:hover{
  color:  #362967 !important;
  background-color: #FF7B23;
}

